<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Legacy Maps</title>   
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/modernizr")  
    @Scripts.Render("~/bundles/jquery")     
</head>
<body>
    <div class="navbar navbar-inverse ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="mlm-logo-link" href="~/">
                    <img src="~/images/icons/MLM-REM-text-logo.png" alt="globe" class="mlm-logo">
                    <span>"Show your world"&trade;</span>
                </a>
                <img src="~/Images/mlm_home-pg_header_maps.png" alt="maps" class="mlm-header-maps" />
                <p class="mlm-tagline phone">"Pick your maps, plant your flags, show your world."&trade;</p>
                @*@Html.ActionLink("My Legacy Maps", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
             </div>
            <div class="navbar-collapse collapse">
                <p class="mlm-tagline">"Pick your maps, plant your flags, show your world."&trade;</p>
                <ul class="nav navbar-nav">
                    <li class="menuitem">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="menuitem">@Html.ActionLink("Maps", "Index", "Maps")</li> 
                    <li class="menuitem">@Html.ActionLink("About", "About", "Home")</li>                 
                    <li>
                        @Html.Partial("_LoginPartial")
                    </li>               
                </ul>
            </div>
            @Html.Partial("~/Views/Shared/ProfileNav.cshtml")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <ul class="horizontal-list">
                <li>&copy; @DateTime.Now.Year - My LegacyMaps&trade; | </li>
                <li>@Html.ActionLink("Terms And Conditions", "Terms", "Home") | </li>
                <li>@Html.ActionLink("Privacy Policy", "Privacy", "Home")</li>
            </ul>        

            Other Resources:
            <div>

                <a href="http://www.premierpropertymaps.com/washington/king/capitolhill/wakingcapitolhill.php">
                    Capitol Hill Interactive Walking Map
                </a>
            </div>
            <div>
                <a href="http://www.premierpropertymaps.com/washington/jefferson/images/ppm2_ne_jeffco_face_map_500.png">
                    Port Townsend & Quimper Peninsula Relocation Guide Map
                </a>
            </div>
            <div>
                <a href="http://www.premierpropertymaps.com/washington/jefferson/images/ppm2_se_jeffco_face_map_500.png">
                    North Hood Canal Relocation Guide Map
                </a>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
