<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Legacy Maps</title>   
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/modernizr")  
    @Scripts.Render("~/bundles/jquery")     
</head>
<body>
    <div class="navbar navbar-inverse ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/"><img src="~/images/icons/MLM-REM-text-logo.png" alt="globe" class="mlm-logo"></a>
                @*@Html.ActionLink("My Legacy Maps", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
             </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Maps", "Index", "Maps")</li>
                    <li>@Html.ActionLink("Adopted Maps", "Index", "AdoptedMaps")</li>
                    <li>@Html.ActionLink("Shared Maps", "SharedMaps", "AdoptedMaps")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div style="padding-left: 10px;">
                <h4>*Business Model and Graphic Content are Patent and/or Copyright protected.</h4>
            </div>
            <p>&copy; @DateTime.Now.Year - My LegacyMaps&trade;</p>

            <div>

                <a href="http://www.premierpropertymaps.com/washington/king/capitolhill/wakingcapitolhill.php">
                    Capitol Hill Interactive Walking Map
                </a>
            </div>
            <div>
                <a href="http://www.premierpropertymaps.com/washington/jefferson/images/ppm2_ne_jeffco_face_map_500.png">
                    Port Townsend & Quimper Peninsula Relocation Guide Map
                </a>
            </div>
            <div>
                <a href="http://www.premierpropertymaps.com/washington/jefferson/images/ppm2_se_jeffco_face_map_500.png">
                    North Hood Canal Relocation Guide Map
                </a>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
