@model MyLegacyMaps.Models.AdoptedMap

@{
    ViewBag.Title = "Adopted Map";
}
<div>
    <div>
        @*@Html.AntiForgeryToken();*@
        @Html.Hidden("mapId", Model.MapId);
        @Html.Hidden("mapName", Model.Name);
        @Html.Hidden("mapFileName", Model.FileName)

        <div id="content"></div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MapId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MapId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShareStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShareStatus)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FileName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FileName)
            </dd>

        </dl>
    </div>
    <p>
        <label>Add Flags:</label>
        <button id="btnWasHere" type="button">I was here</button>
        <button id="btnHereNow" type="button">I'm here now</button>
        <button id="btnWantToGoHere" type="button">I'm planning to go here</button>
        <button id="btnCustomLogo" type="button">Custom Logo</button>

    </p>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AdoptedMapId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
