@model MyLegacyMaps.Models.AdoptedMap

@{
    ViewBag.Title = "Adopted Map";
    var flagElem = "\"<a href='#' class='mlm-flag-lnk'><div  class='makeMeDraggable {0} masterTooltip' data-xpos='{1}' data-ypos='{2}' " +
                         "data-flagtypeid={3} data-flagId={4} style='{5}' title='Name: {6} Date: {7} ' ></div></a>\"";
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/mlm")
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.Hidden("adoptedMapId", Model.AdoptedMapId);
    @Html.Hidden("mapImageUrl", Model.Map.GetMainImageUrl())
    @Html.Hidden("mapOrientation", Model.Map.OrientationTypeId)

}

@Html.Partial("~/Views/Shared/Partials/RealEstateMapCanvas.cshtml", Model.Map)

<script type="text/javascript">
    $(document).ready(function () {
        @foreach(var flag in @Model.Flags)
        {
            var elem =
                String.Format(flagElem,
                              flag.GetCssClass(),
                              flag.Xpos,
                              flag.Ypos,
                              flag.FlagTypeId,
                              flag.FlagId,
                              @Html.AttributeEncode(flag.GetStyle()),
                              @Html.AttributeEncode(flag.Name),
                              flag.DateModified.ToShortDateString());

            @Html.Raw(String.Format("$('#canvas').append({0}); MLM.MapCanvas.wireUpFlags();", elem));
        }
    });
</script>

