@model MyLegacyMaps.Models.AdoptedMap
@using MyLegacyMaps.Models;

@{
    ViewBag.Title = "Edit Adopted Map";
}

<h3>Edit Map Details</h3>


@using (Html.BeginForm("Edit", "MyMaps", FormMethod.Post, new { id = "frmEditMapDetials" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">     
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AdoptedMapId)
        @Html.HiddenFor(model => model.ShareStatusTypeId)
        @Html.HiddenFor(model => model.MapId) 
        @Html.HiddenFor(model => model.DateCreated)    
        @Html.HiddenFor(model => model.UserId)    

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Sharing</label>
            <div class="col-md-10">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="ddlOrientation"
                            data-toggle="dropdown">
                       <span>Choose:</span><span class="caret"></span>
                    </button>
                    &nbsp;<label id="ddlShareStatusSelectedVal">@Html.DisplayFor(model => model.ShareStatusType.Name)</label>
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var type in (List<ShareStatusType>)ViewBag.ShareTypes)
                        {
                            <li role="presentation" onclick="onShareStatusTypeSelected('@type.ShareStatusTypeId', '@type.Name')">
                                <a role="menuitem" href="#">@type.Name</a>
                            </li>
                        } 
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                &nbsp;|&nbsp;@Html.ActionLink("Cancel",(Model.Map.IsRealEstateMap())? "RealEstateMap" : "AdoptedMap", "MyMaps", new { id = Model.AdoptedMapId }, null)
            </div>
        </div>
    </div>
}

<div>
    
    <script type="text/javascript">
        function onShareStatusTypeSelected(id, value) {
            $('#ddlShareStatusSelectedVal').text(value);
            $('#ShareStatusTypeId').val(id);
        }
    </script>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
