@model IEnumerable<MyLegacyMaps.Models.Map>
@{
    ViewBag.Title = "Manage Maps";
}
<h3>Manage Maps</h3>
<p>
    @Html.ActionLink("Back to Admin", "Index")
</p>
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>  
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>          
            <th>
                Orientation
            </th>
            <th>
                Aspect Ratio
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>  
            <th>
                @Html.DisplayNameFor(model => model.DateModified)
            </th>     
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>      
            <th>
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.OrientationType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspectRatio.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>                    
            <td>
                @Html.ActionLink("Edit", "MapEdit", new { id=item.MapId }) |
                @Html.ActionLink("View", "Details", "Maps", new { id=item.MapId }, null)              
            </td>
        </tr>
    }

    </table>
}

@Html.ActionLink("Back to Admin", "Index")


